body {
  margin: 0;
}

#navbar-holder{
  margin-top: 0;
  padding: 0;
  width: 20%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#navbar-holder #profiles ul{
  list-style-type: none;
  padding: 0;
}

#navbar-holder #profiles ul li a {
  display: block;
  color: #000;
  padding: 4px 6px;
  text-decoration: none;
  margin-bottom: 5px;
  margin-top: 5px;
}

#navbar-holder #dp{
  margin-top: 20px;
}

#navbar-holder #dp .icon img{
  border-radius: 60%;
}

#navbar-holder #profiles ul li:last-child {
 margin-bottom: 20px;
}


.active {
  background-color: #4CAF50;
  color: white;
}

#navbar-holder #profiles ul li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.main-class{
  margin-left:25%;
  padding:1px 16px;
  height:600px;
}

#navbar-holder .icons {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

/*#navbar-holder #social, #navbar-holder #research, #navbar-holder #dp, #navbar-holder #profile{
  height: 25%;
}*/

#navbar-holder .icons:hover {
  cursor:pointer;
}

#navbar-holder .icon {
  flex: 40%;
  padding: 5px;
}

#counter{
  position: absolute;
  top: 600px;
  right: 25px;
  font-size: 20px;
  text-align: center;
}

/*.dp img{
  float: right;
}*/

.main-class{
  font-family: "Times New Roman";
}

.main-class .info{
  position: relative;
  bottom: 0px;
  left: -50px;
  text-align: justify;
}

.main-class .cover-photo{
  position: relative;
  left: -50px;
}

.main-class .office{
  position: relative;
  top: 25px;
  font-size: 20px;
}

.journal-item, .conference-item, .ipr-item{
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  left: -50px;
}

.thesis-item, .workshop-item, .poster-item{
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  left: -50px;
}

body a, a:link, a:visited, a:focus, a:hover, a:active{
  color: #808B96;
}

h2{
  position: relative;
  /*left: 288px;*/
  text-align: center;
  top: 30px;
  margin-bottom: 50px;
}

hr{
  position:relative;
  left: -50px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.main-class #description{
  position:relative;
  left: -50px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: justify;
  font-size: 18px;
}

.refs{
  display: flex;
}

.bibtex, .textlink, .iprlink{
  background-color: lightgrey;
  width: 50px;
  height: 22px;
  line-height: 22px;
  border: 2px;
  padding: 2px;
  margin: 2px;
  margin-top: 8px;
  margin-right: 7px;
  text-align: center;
  position: relative;
  left: 22px;
}


